# Project files
build

# Virtual environment
.venv

# Python cache files
__pycache__

# Mypy cache files
.mypy_cache

# PyTest cache files
.pytest_cache

# VS Code settings
.vscode

# MacOS system files
.DS_Store

# for me
.notes
